@font-face {
    font-family: Futura;
    src: url(Fonts/Futura.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Calson;
    src: url(Fonts/Calson.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-Bold.otf);
}



body {
    width: 100vw;
    margin: auto;
    max-width: 100vw;
    overflow-x: hidden;

    
}

/* Name */
h1{
    font-family: Montserrat;
    color: floralwhite;
    font-size: 13vh;
}

/* sub title under name, skills titles */
h2{
    font-family: Futura;
    color: floralwhite;
    font-size: 4.2vh;
}

/* Banner titles */
h3{
    margin: 0vh;
    font-family: Montserrat;
    color: floralwhite;
    font-size: 9vh;
    line-height: 13vh
}

/* Education text */
h4{
    font-family: Futura;
    color: floralwhite;
    font-size: 5.5vh;
    margin: 0;
        
}
  
h5{
    font-family: Futura;
    color: floralwhite;
    font-size: 7vh;
    line-height: 19vh;
    margin: 0;
}

h6{
     font-family: Futura;
    color: floralwhite;
    font-size: 5vh;

}
h7{
    font-family: Futura;
    color: floralwhite;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
}
h8{
    font-family: Montserrat;
    color: floralwhite;
    font-size: 8vh;
}
/* used in skills textboxes */
p{
    font-family: Futura;
    color: floralwhite;
    font-size: 3vh;
}

/* Links */
#graf{
    color: crimson;
    text-decoration: none;
}

a:visited{
    color: crimson;
}

/* List of skills */
li{
    list-style-type: none;
}
/* Banner between sections */
.title{
    position: relative;
    width: 100vw;
    text-align: center;
    background: cornflowerblue;
    height: 15vh;
}


/* Landing page */
.titleWrapper{
    background-image: url(images/background.svg);
    background-size: 100vw;
    height: 97vh;
    width: 100vw;
    position: relative;
}
.name{
    position: relative;
    top: 40vh;
    width: 100vw;
    text-align: center;    
}
.desc{
    position: relative;
    top: 33vh;
    width: 100vw;
    text-align: center;  
}
.darrow{
    position: absolute;
    bottom: 3vh;
    float: right;
    width: 100vw;
    text-align: center;
}

/* End Landing page */

/* Education page */
.educationWrapper{
    height: 98vh;
    width: 100vw;
    position: relative;

}
.school{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/e3.svg');
    background-size: 100vw;
    width: 100vw;
    height: 85vh;
    
}
.banner{
    position: absolute;
    bottom: 35vh;
    width: 100vw;
    background: rgba(160,160,160,0.6);
    text-align: center;
}
/* End education page */

/* Skills page */
.skillsWrapper{
    height: 98vh;
    width: 100vw;
    position: relative;

}

.skills{
    margin-top: -2vh;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/skills.svg');
    background-size: 100vw;
    width: 100vw;
    height: 88vh;
    
}

#skill{
    position: relative;
    text-align: center;
    width: 100vw;
    top: 45vh;
}

.boxWrapper{
    position: relative;
    width: 100vw;
}

.textbox{
    position: relative;
    top: 0;
    text-align: center;
    float: left;
    width: 31vw;
    top: 50vh;
}
/* End skills page */

/* Experiences page */
.workWrapper{
    height: 110vh;
    width: 100vw;
    position: relative;

}

.experience{
    position: relative;
    background: #222;
    background-size: cover;
    width: 100vw;
    height: 97vh;
}


.boxwrap{
    position: relative;
    width: 100vw;
    text-align: center;
}

.subtitle{
    text-align: center;
}
#work{
    width: 70vw;
    -webkit-column-count: 7; /* Chrome, Safari, Opera */
    -moz-column-count: 7; /* Firefox */
    column-count: 7;
    height: 92vh;
    margin-left: 15vw;

}
.icon{
    text-align: center;
}

.box{
    text-align: right;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*End experiences*/

/*Footer*/
.footer{
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: cornflowerblue;
    margin-top: -1vh;
}

.button{

    background-color: cornflowerblue;
    position: relative;
    height: 19vh;
    width: 31vw;
    text-align: center;
    float: left;  
}
.button:hover{
    color: black;
    text-decoration: underline;
}
#bot{
    text-decoration: none;
    color: floralwhite;
}
#bot:visited{
    color:floralwhite;
    text-decoration-color:floralwhite;
}
#contact{
    width: 105vw;
    height: 0vh;
    padding: 0;

}