@font-face {
    font-family: Futura;
    src: url(Fonts/Futura.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Calson;
    src: url(Fonts/Calson.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-Bold.otf);
}



body {
    width: 100%;
    margin: auto;
    
}

/* Name */
h1{
    font-family: Montserrat;
    color: floralwhite;
    font-size: 100px;
}

/* sub title under name, skills titles */
h2{
    font-family: Futura;
    color: floralwhite;
    font-size: 40px;
}

/* Banner titles */
h3{
    margin: 0px;
    font-family: Montserrat;
    color: floralwhite;
    font-size: 84px;
    line-height: 180%
}

/* Education text */
h4{
    font-family: Futura;
    color: floralwhite;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
        
}
  
h5{
    font-family: Futura;
    color: floralwhite;
    font-size: 60px;
    line-height: 400%;
    margin: 0;
}
h6{
    font-family: Futura;
    color: floralwhite;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}
h7{
    padding-left: %;
    font-family: Futura;
    color: floralwhite;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}
/* used in skills textboxes */
p{
    font-family: Futura;
    color: floralwhite;
    font-size: 24px;
    text-align: center;
    text-justify: inter-word;
}

/* Links */
a{
    color: crimson;
    text-decoration: none;
}

a:visited{
    color: crimson;
}

/* List of skills */
li{
    list-style-type: none;
    margin: 20px;
}
/* Banner between sections */
.title{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    background: cornflowerblue;
    height: 15%
}


/* Landing page */
.titleWrapper{
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),          url('images/background.svg');
    height: 98%;
    width: 100%;
    position: relative;
}
.name{
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;    
}
.darrow{
    position: absolute;
    bottom: 3%;
    float: right;
    width: 100%;
    text-align: center;
}

/* End Landing page */

/* Education page */
.educationWrapper{
    height: 98%;
    width: 100%;
    position: relative;

}
.school{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/e3.svg');
    background-size: cover;
    width: 100%;
    height: 85%;
    
}
.banner{
    position: absolute;
    bottom: 45%;
    width: 100%;
    height 250px;
    background: rgba(160,160,160,0.6);
    text-align: center;
}
/* End education page */

/* Skills page */
.skillsWrapper{
    height: 98%;
    width: 100%;
    position: relative;

}

.skills{
    margin-top: -20px;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/skills.svg');
    background-size: cover;
    width: 100%;
    height: 88%;
    
}

.boxWrapper{
    position: relative;
    width: 100%;
    height 250px;
    top: 53%;
}

.textbox{
    position: relative;
    top: 0;
    text-align: center;
    float: left;
    width: 32%;
}
/* End skills page */

/* Experiences page */
.workWrapper{
    height: 110%;
    width: 100%;
    position: relative;

}

.experience{
    margin-top: 0%;
    position: relative;
    background: #222;
    background-size: cover;
    width: 100%;
    height: 87%;
}


.boxwrap{
    position: relative;
    width: 100%;
    height 250px;
    top: 5%;
    text-align: center;
}

.subtitle{
    text-align: center;  
}
table{
    width: 60%;
    -webkit-column-count: 7; /* Chrome, Safari, Opera */
    -moz-column-count: 7; /* Firefox */
    column-count: 7;
    height: 90%;
    margin-left: 20%;
}
td{
    height: 500%;
}
.icon{
    text-align: center;
    padding-top: 8%;
}
.box{
    text-align: right;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*End experiences*/

/*Footer*/
.footer{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: cornflowerblue;
    margin-top: -1%;
}

.button{
    background-color: cornflowerblue;
    position: relative;
    top: 2%;
    height: 100%;
    width: 33%;
    text-align: center;
    float: left;
    
}
.button:hovered{
    background-color: dodgerblue;
}