@font-face {
    font-family: Futura;
    src: url(Fonts/Futura.ttf);
    font-weight: bold;
}

@font-face {
    font-family: cooper;
    src: url(Fonts/CooperHewitt-Medium.otf);
}


@-moz-document url-prefix() {
    select {
        padding-top: 0px;
    }
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
  width:0px;   
  background:transparent;
}
/* Name */

h1 {
    font-family: cooper;
    color: ghostwhite;
    font-size: 100px;
    line-height: 0;
}
h2 {
    font-family: futura;
    color: ghostwhite;
    font-size: 50px;
}
h3{
    font-family: futura;
    color: ghostwhite;
    font-size: 30px;

}
h4 {
    font-family: cooper;
    color: ghostwhite;
    font-size: 50px;
}
h5{
    margin: 0;
    font-family: cooper;
    font-size: 50px;
    color: ghostwhite;
}
h7{
    color: ghostwhite;
    font-family: cooper;
    font-size: 30px;
}

h9 {
    color: dimgray;
    font-family: cooper;
    font-size: 18px;
}
p{
    color: ghostwhite;
    font-family: futura;
    font-size: 30px;

}

#home,#about,#portfolio,#timeline,#footer{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: static;
}

/*loading*/
#load_screen{
    background: #fff;
    opacity: 1;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}
#load{
    position: fixed;
    top: 47.5%;
    width:50px;
    left: 47.5%;
}
/* Nav */
.header{
    text-decoration: none;
}
.header:hover{
    text-decoration: line-through;
    text-decoration-color: aliceblue
}

.navi{    
    float: right;   
    list-style: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
}

#nav{
    z-index: 2;
    position: fixed;
    margin: 0;
    width: 100%;
    display: block;
}
/* Landing page */

#home {
    height: 100.1vh;
    background-color: dimgray;
    background-image: url(images/background.png);
    background-size: cover; 
    background-position: fixed;
}

#name{
    position: relative;
    top: 30vh;
    width: 650px;
    text-align: center;
    margin: auto;
}
#arrow{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: auto;    
    position: relative;
    top: 88vh;
}
/*About*/
#about{ 
    background-color: rgb(42, 187, 155);    
}

#quote{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/*portfolio*/
#portfolio{
    z-index: -1;
    background: url(images/port.jpg);
    background-size: cover;
}

#title{
    text-align: center;
    position: relative;
    top: 20px;
    width: 100%;
}
#subtitle{
    position: relative;
    top: 20px;
    text-align: center;
}
#portfolio-wrapper{
    width: 90%;
    position: relative;
    margin: auto;
    
}
.projs{
    position: absolute;
    width: 100%;
    z-index: 0;
}
.top-slice{
    top: 220px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.project{
    list-style: none;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
}

.topper{
    padding-bottom: 70px;    
}
.link{
    color: ghostwhite
}
.link:visited{
    color: ghostwhite
}
.info{
    padding-bottom: 70px;
    widows: 80%;
}
.icon{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
}

.icon:hover{
    opacity: 0.6;
    cursor: pointer;
}

.bio{
    display: none;
}
.bioquote{
    width: 95%;
    margin: auto;
}

#graffiti{
    background-color: rgba(200, 55, 55,0.67);
}
#tetris{
    background-color: rgba(255, 127, 42,0.67);
}

#translaid{
    background-color: rgba(100, 149, 237,0.67);
}
#drake{
    background-color: rgba(47, 113, 200,0.67);
}
#pantry{
    background-color: rgba(0, 205, 207, 0.67);
}
#trakrecord{
    background-color: rgba(239, 61, 61, 0.67);
}
#larrow{
    left: 10px;
}
#rarrow{
    right: 10px;
}
.links{
    margin: auto;
}
.icos{
    padding-right: 10px;
    padding-left: 10px;
    width: 80px;
}


/* TImeline */

#timeline{
    background-color: #2abb9b;
}
#topper{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#story{
    position: relative;
    top: 10px;
    column-count: 3;
    display: table;
    margin: auto;
}
.rows{
    margin-bottom: 50px;
    margin-top: 50px;
}
.lcell{
    text-align: right;
    width: 500px;
}
.ccell{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.rcell{
    margin: 0;
    text-align: left;
    width: 500px;
}

.pic{
    width: 160px;
}
.pic:hover{
    opacity: 0.6;

}
#ending-note{
    text-align: center;
    margin-top: 7vh;
    padding-bottom: 20px;
}
#resume{
    width: 120px;
    border-radius: 60px;
    position: relative;
    margin: auto;       
}
#resume:hover{
    opacity: 0.6;
}
/*footer*/

#footer{
    background-color: #2a2a2a;
    height: 180px;
}
#top{
    width: 100%;
    margin: auto;
    text-align: center;
}
#footer-list{
    position: relative;
    top:10px;
    width: 15%;
    margin: auto;
    padding-bottom: 20px;
}
#list{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.ending-link{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.ending-link:hover{
    opacity: 0.6;
}
#fine-print{
    position: relative;
    text-align: center;
}
