@font-face {
    font-family: Futura;
    src: url(Fonts/Futura.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Calson;
    src: url(Fonts/Calson.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-Bold.otf);
}



body {
    width: 100%;
    margin: auto;

}
.titleWrapper{
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),          url('images/background.svg');
    height: 98%;
    width: 100%;
    position: relative;
}
.educationWrapper{
    height: 100%;
    width: 100%;
    position: relative;

}
.container {
    width: 800px;
    margin: 0 auto; 
    
}

.content{
    position: relative;
    top: 125px;
    width: 800px;
}
.name{
    position: relative;
    top: 300px;
    width: 100%;
    text-align: center;    
}

h1{
    font-family: Montserrat;
    color: floralwhite;
    font-size: 100px;
}
h2{
    font-family: Futura;
    color: floralwhite;
    font-size: 40px;
}

h3{
    margin: 0px;
    font-family: Montserrat;
    color: floralwhite;
    font-size: 8px;
}
h4{
    font-family: Futura;
    color: floralwhite;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
        
}
p{
    font-family: Calson;
    color: dimgray;
    font-size: 36px;
    text-align: justify;
    text-justify: inter-word;
}

.school{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/e3.svg');
    background-size: auto;
    width: 100%;
    height: 100%;
    
}
.banner{
    position: absolute;
    bottom: 300px;
    width: 100%;
    height 250px;
    background: rgba(160,160,160,0.6);
    text-align: center;
}
.title{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    background: cornflowerblue;
    height: 15%
}
    
.darrow{
    position: absolute;
    bottom: 20px;
    float: right;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

